@import "common/animation", "common/variables", "common/drop-down",
  "common/pagination", "common/modal";
@import "components-css/navbar", "components-css/header",
  "components-css/display-instruments", "components-css/instruments-table",
  "components-css/filter-panel", "components-css/form";

/* reset css */
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit; /* remove the style of heading elements */
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* common css */
body {
  font-family: $ff-body;
  font-weight: $fw-regular;
  font-size: $fs-body;
}

h2 {
  font-size: $fs-heading-section;
  font-weight: $fw-bold;
  margin-bottom: $margin-bottom-heading;
}

h3 {
  font-size: $fs-h3;
  font-weight: $fw-bold;
}

.content {
  max-width: $content-width;
  padding: $padding-body;
  margin: auto;
}

.btn {
  letter-spacing: 0.1rem;
  background-color: $clr-accent-dark;
  color: $clr-text-light;
  padding: 0 0.7rem;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: hsl(198, 8%, 53%);
  }
}

.fa-trash {
  color: #900000;
}

@media screen and (max-width: 1070px) {
  html {
    font-size: 80%;
  }

  body {
    font-size: $fs-body;
  }
}

@media screen and (max-width: 860px) {
  html {
    font-size: 70%;
  }
  body {
    font-size: $fs-body;
  }
}

@media screen and (max-width: 730px) {
  html {
    // font-size: 90%;
  }
}
