$dark-red: #832013;
$light-red: #e27425;

// $light-red: #ff2727;
$dark-grey: #6767c1;
$white: #ffffff;
$black: #000000;
$content-width: 130rem;
$color_1: #e1e2ef;
$color_2: #e1e2ef;
$color_3: #e1e2ef;
$color_4: #e1e2ef;
$color_5: #e1e2ef;

@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

.content {
  max-width: $content-width;
  margin: auto;
}

// navbar

nav {
  background-color: $dark-grey;
  padding: 1rem;
}

.navigation {
  max-width: $content-width;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.nav {
  &__links {
    display: flex;
    gap: 7rem;
  }

  &__link {
    color: $white;

    &:hover {
      color: rgba(darken($white, 30%), 0.8);
      text-decoration: none;
    }

    &--brand {
      font-family: "Merienda", sans-serif;
      font-size: 2.5rem;
      color: $light-red;

      &:hover {
        color: $light-red;
      }
    }
  }

  &__icons {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }

  &__icon {
    color: $white;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--text {
      font-size: 1.5rem;
    }

    &:hover {
      text-decoration: none;
      color: rgba(darken($white, 30%), 0.8);
    }
  }

  &__switch {
    margin-top: 0.2rem;
  }
}

// header

.header {
  position: relative;
  background-size: cover;
  text-align: center;
  height: 85vh;
}

.header__image {
  width: 100%;
  max-width: 130rem;
  height: 85vh;
  object-fit: cover;
  opacity: 80%;
  filter: grayscale(0.9);
}

.header__text-box {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__heading--main {
  text-transform: uppercase;
  display: block;
  font-weight: 300;
  font-size: 7rem;
  animation: fromLeft 1s ease-out;
  color: $light-red;
}

.header__heading--sub {
  text-transform: uppercase;
  display: block;
  font-weight: 00;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  margin-top: 0.5rem;
  animation: fromRight 1s ease-out;
  color: $light-red;
}

.btn
// .btn:link,
// .btn:visited
{
  padding: 1rem 3.5rem;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  width: 15rem;
}

.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.4);
  color: inherit;
}

.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn:hover::after {
  content: "";
  border-radius: 10rem;
  background-color: $dark-grey;
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  transform: translateY(-0.1rem);
}

.btn--red {
  background-color: $dark-red;
  color: $white;
  margin-right: 4rem;

  &:hover {
    color: $white;
  }
}

.btn--white {
  background-color: $white;
  color: $dark-red;
  border-color: $dark-red;
  border-width: 0.3rem;

  &:hover {
    color: $dark-red;
  }
}

.btn--animated {
  margin-top: 2rem;
  animation: fromBottom 0.7s 0.4s;
  animation-fill-mode: backwards;
}

// instuments

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.instrument-card {
  position: relative;
  border: 1px solid #000000;
  padding: 15px;
  text-align: center;
  border-radius: 5%;

  & img {
    width: 12rem;
  }
}

img.add-to-favorites {
  position: absolute;
  right: 2rem;
  background-color: inherit;
  width: 2.5rem;
}

.add-to-cart {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  background-color: #6767c1;
  border-radius: 50%;
  width: 2.5rem;
  text-align: center;
  color: #ffffff;
}
.pagination {
  // display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Dropdown */

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.profile-icon {
  cursor: pointer;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 10px;
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
}

.dropdown.open .dropdown-content {
  display: block;
}
// // select bar

// .select-bar {
//   background-color: $color_1;
//   padding: 1rem 15px;
//   list-style-type: none;
//   display: flex;
//   justify-content: space-between;
// }

// .select-split {
//   color: #555;
// }

// .select-item {
//   cursor: pointer;
//   font-weight: 700;
//   color: #555;

//   &.active {
//     color: darken(#555, 70%);
//   }
// }

//

#light {
  background-color: $color_5;
}

#dark {
  background-color: $color_3;
}

.clickable {
  cursor: pointer;
}

.search {
  max-width: 30%;
  margin-bottom: 2rem;
}

.switch {
  margin-left: auto;
}

.genreList {
  list-style-type: none;
}

.page-item {
  z-index: 0;
}
