#about-section {
  h2 {
    text-align: left;
  }
  p {
    max-width: 45ch;
  }
}

.numbered-items {
  counter-reset: count;
}

.numbered-items li {
  counter-increment: count;
  display: grid;
  position: relative;
  align-items: center;
  column-gap: 1rem;
  grid-template-columns: min-content 1fr;
  margin-top: 3rem;

  &:first-child {
    margin-top: 1rem;
  }
  &::before {
    content: "0" counter(count);
    color: $clr-accent-dark;
    font-weight: $fw-bold;
    background-color: $clr-neutral-dark;
    padding: 0 1em;
    border-radius: 100vw;
  }
  p {
    margin-top: 1rem;
  }
}

.numbered-items__body {
  grid-column: 2 / -1;
}

@media (max-width: 50em) {
  .numbered-items__body {
    grid-column: 1 / -1;
  }

  div.even-columns {
    grid-auto-flow: row;
  }
}
