#products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 20px;
}

.instrument-card {
  position: relative;
  border: 1px solid #000000;
  padding: 15px;
  text-align: center;
  border-radius: 5%;
  padding-bottom: 3rem;

  img {
    max-width: 10rem;
    margin-bottom: 1rem;
  }

  &__action {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    background-color: inherit;
    position: absolute;
    right: 2rem;
    cursor: pointer;
  }

  p {
    margin-bottom: 1rem;
  }
}

// icons
img.add-to-favorites {
  cursor: pointer;
  position: absolute;
  right: 2rem;
  width: 2.5rem;
}

.add-to-cart {
  background-color: $clr-neutral-dark;
  border-radius: 50%;
  border: solid 3.5px;
}

.delete-from-cart {
  font-size: 1.6rem;
}
