.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.instrument-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
  padding-bottom: 3rem;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /* Adjust hover shadow values as needed */
  }

  .instrument-photo {
    margin-top: 2rem;
    width: 21rem;
    height: 21rem;
    background-size: cover;
    margin-bottom: 1.5rem;
  }

  &__action {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    background-color: inherit;
    position: absolute;
    right: 1rem;
    cursor: pointer;
  }

  p {
    margin-bottom: 1rem;
  }
}

// icons
img.add-to-favorites {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.5rem;
}

.add-to-cart {
  bottom: 1rem;
  color: $clr-accent-dark;
  border-radius: 50%;
  border: solid 3.5px $clr-accent-dark;
}

.delete-from-cart {
  font-size: 1.6rem;
}

@media screen and (max-width: 1065px) {
  #products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 20px;
  }

  .instrument-card {
    .instrument-photo {
      height: 15rem;
      width: 15rem;
    }
  }
}
