.panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding: 1em 0;
}

.search {
  width: 45%;
}

.filter__dropdown-content {
  width: 13rem;
  left: 0;
  color: $clr-text-dark;
}

.filter-panel {
  padding: 0 1rem;
  border-radius: 4px;
  color: $clr-neutral-dark;
  background-color: $clr-neutral-light;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 3rem;

  p {
    font-weight: $fw-bold;
  }
}
