form {
  overflow: visible;
  max-width: 50rem;
  margin: auto;
}
.form-group {
  margin-bottom: 1rem;

  & label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: $clr-text-dark;
    font-weight: 500;
  }
}

.form-control {
  width: 100%;
  padding: 0.375rem 0.75rem;
  color: $clr-neutral-dark;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}

.alert {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 0.25rem;
}

.btn.btn-form {
  margin-right: 1rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid #007bff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    background-color: #007bff;
  }

  &:active {
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3;
  }

  &:disabled {
    background-color: rgba(128, 128, 128, 0.866);
    pointer-events: none;
    border: none;
  }
}

form a {
  text-decoration: underline solid;
  color: $clr-accent-dark;
}
