.hero-section {
  margin: -$padding-body;
  margin-bottom: $margin-bottom-section;
  position: relative;

  .img {
    background-image: url("./../images/header.png");
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      filter: grayscale(1);
    }
  }
}

.heading--box {
  overflow: hidden;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: $clr-neutral-light;

  h1 {
    color: $clr-accent-light;
    text-transform: uppercase;
    text-shadow: #21015a 0 0 5px;
  }

  .heading--main {
    font-size: $fs-heading-primary;
    animation: fromLeft 1s ease-out;
  }

  .heading--sub {
    text-transform: uppercase;
    font-weight: $fw-bold;
    font-size: $fs-heading-secondary;
    letter-spacing: 0.5rem;
    margin-bottom: 4rem;
    animation: fromRight 1s ease-out;
  }
}

.btn-hero {
  display: inline-block;
  padding: 0.5em;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: $fs-button;
  font-weight: 900;
  letter-spacing: 0.3rem;
  width: 16rem;

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.4);
  }

  &::after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &:hover::after {
    content: "";
    border-radius: 10rem;
    background-color: $clr-accent-dark;
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  &:active {
    transform: translateY(-0.1rem);
  }

  &--rent {
    background-color: $clr-neutral-dark;
    color: $clr-accent-light;
    border: solid 2px white;
    margin-right: 4rem;
  }

  &--contact {
    background-color: $clr-accent-dark;
    color: $clr-text-light;
    border: solid 2px $clr-accent-dark;
  }

  &--animated {
    animation: fromBottom 0.7s 0.4s;
    animation-fill-mode: backwards;
  }
}

@media screen and (max-width: 830px) {
  .heading--box {
    .heading--sub {
      margin-bottom: 3rem;
      font-size: 2rem;
    }

    .heading--main {
      font-size: 4rem;
    }
  }

  a.btn-hero {
    width: 12rem;
    font-size: 1.4rem;

    &--rent {
      margin-right: 2rem;
    }
  }
}

@media screen and (max-width: 670px) {
  .hero-section .img {
    height: 40vh;
  }

  .heading--box {
    position: static;
    background-color: $clr-neutral-light;

    .heading--main,
    .heading--sub {
      color: $clr-accent-dark;
      text-shadow: none;
    }

    .heading--main {
      font-size: 2.5rem;
    }
    .heading--sub {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
  }

  a.btn-hero {
    &--rent {
      margin-right: 1rem;
    }
  }
}
