.grid {
  padding: 1rem;
  display: grid;
  row-gap: 1rem;
  margin: auto;
  background-color: $clr-neutral-light;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  & .btn {
    margin-left: 1rem;
    width: 6rem;
  }
}

.btn--delete {
  width: 2rem;
  border: none;
  margin-left: auto;

  &:hover {
    background-color: hsl(0, 100%, 50%);
  }
}

/* rented instruments table */
.rentals-grid {
  grid-template-columns: 1.5fr repeat(4, 1fr) 0.5fr;
}

.table-warning {
  background-color: #e350508f;
}

.customer-link {
  color: $clr-text-dark;
  font-weight: $fw-bold;

  &:hover {
    color: #4446e0;
  }
}

/* cart table */
.display-items {
  max-width: 70rem;
  margin: auto;
}

.cart-grid {
  grid-template-columns: 4fr 2fr 1fr;
}

.cart-buttons {
  margin-left: auto;
}

/* favorites table */
.favorites-grid {
  grid-template-columns: 4fr 2fr 1fr;
}
