nav {
  background-color: $clr-accent-dark;
  padding: 0.3rem;
}

.navigation {
  max-width: $content-width;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.nav {
  &__links {
    display: flex;
    gap: 7rem;
    font-size: $fs-nav;
  }

  &__link {
    color: $clr-text-light;

    &:hover {
      color: rgba(darken($clr-text-light, 30%), 0.8);
      text-decoration: none;
    }

    &--brand {
      font-family: "Merienda", sans-serif;
      font-size: $fs-heading-section;
      color: $clr-accent-brand;

      &:hover {
        color: $clr-accent-brand;
      }
    }
  }

  &__icons {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }

  &__icon {
    color: $clr-text-light;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    align-items: center;
    justify-content: center;

    &:hover {
      text-decoration: none;
      color: rgba(darken($clr-text-light, 30%), 0.8);
    }

    & i {
      font-size: $fs-nav;
    }
  }

  &__switch {
    transform: scale(0.7);
    margin-bottom: -0.3rem;
  }
}

.profile-icon {
  cursor: pointer;
}

.menu-icon {
  display: none;
  font-size: 1.5em;
  color: white;
}

@media screen and (max-width: 1300px) {
  .nav__links {
    gap: 3rem;
  }
}

@media screen and (max-width: 1050px) {
  .nav__link--other {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .nav__links {
    display: none;
  }

  .nav__links.mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }
}
