.header {
  background-color: $clr-accent-dark;
  padding: 0.3rem;
}

a {
  text-decoration: none;
}

.navigation {
  max-width: $content-width;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $fs-nav;
}

.nav-links ul {
  display: flex;
  gap: clamp(1rem, 6vw, 7rem);
}

.nav__link {
  color: $clr-text-light;
}

.nav__link[data-active="true"] {
  color: rgba(darken($clr-text-light, 30%), 0.8);
}

.nav__link--brand,
.nav__link--brand:hover {
  font-family: "Merienda", sans-serif;
  font-size: $fs-heading-section;
  color: $clr-accent-brand;
}

.nav-icons {
  display: flex;
  gap: 1rem;
}

.nav__icon {
  color: $clr-text-light;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  align-items: center;
  justify-content: center;

  &:hover {
    text-decoration: none;
    color: rgba(darken($clr-text-light, 30%), 0.8);
  }

  i {
    font-size: $fs-nav;
  }

  span {
    font-size: 1rem;
  }
}

.nav__switch {
  transform: scale(0.7);

  &--text {
    position: relative;
    bottom: 0.1em;
  }
}

.profile-icon {
  cursor: pointer;
}

.menu-icon {
  display: none;

  cursor: pointer;
  margin-right: 1rem;
}

@media screen and (max-width: 50em) {
  .navigation {
    display: grid;
    grid-template-columns: 2fr 0fr 0fr;
  }

  .menu-icon {
    display: block;
  }

  .nav-links-wrapper {
    position: relative;
    justify-self: end;
  }

  .nav-links {
    display: none;

    background-color: $clr-neutral-dark;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    right: 0;
    z-index: 10;
  }

  .nav-links ul {
    text-align: center;
    padding: 2rem;
    display: grid;
    gap: 2rem;
  }

  .nav-links.mobile {
    display: block;
  }

  .nav-icons {
    justify-self: end;
  }
}

@media (min-width: 50em) and (max-width: 70em) {
  .nav__link--other {
    display: none;
  }
}
