.dropdown {
  position: relative;

  &__checkbox {
    transform: scale(1.6);
    margin-right: 1rem;
  }
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1;
  padding: 0.5rem;
}

.dropdown-content a {
  text-decoration: none;
  transition: background-color 0.3s;
  color: #333;
}

.drop-down-item {
  padding: 1rem 2rem;
}

.dropdown-content li:hover {
  background-color: #f0f0f0;
}
