.panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding: 1em 0;
}

.search {
  width: 45%;
}

.filter__dropdown-content {
  width: 13rem;
  left: 0;
}

.filter-panel {
  padding: 0 1rem;
  border-radius: 4px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 3rem;
  background-color: #f8f9fa; /* Light background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  p {
    font-weight: $fw-bold;
  }
}
