@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.dropdown {
  position: relative; }
  .dropdown__checkbox {
    transform: scale(1.6);
    margin-right: 1rem; }

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1;
  padding: 0.5rem; }

.dropdown-content a {
  text-decoration: none;
  transition: background-color 0.3s;
  color: #333; }

.drop-down-item {
  padding: 1rem 2rem; }

.dropdown-content li:hover {
  background-color: #f0f0f0; }

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 20px 0;
  padding: 0; }
  .pagination button {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer; }
    .pagination button:hover {
      background-color: #ddd; }
    .pagination button:disabled {
      opacity: 0.5;
      cursor: not-allowed; }
    .pagination button.active {
      background-color: #007bff;
      color: #fff;
      border-color: #007bff; }

.modal {
  overflow: auto;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s; }

.modal.active {
  opacity: 1;
  pointer-events: all; }

.modal__content {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  transform: scale(0.5);
  transition: 0.4s all;
  width: 50vw; }

.modal__content.active {
  transform: scale(1); }

.header {
  background-color: #304c5a;
  padding: 0.3rem; }

a {
  text-decoration: none; }

.navigation {
  max-width: 100rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem; }

.nav-links ul {
  display: flex;
  gap: clamp(1rem, 6vw, 7rem); }

.nav__link {
  color: #eeeeee; }

.nav__link[data-active="true"] {
  color: rgba(162, 162, 162, 0.8); }

.nav__link--brand,
.nav__link--brand:hover {
  font-family: "Merienda", sans-serif;
  font-size: 2.2rem;
  color: #06bcb3; }

.nav-icons {
  display: flex;
  gap: 1rem; }

.nav__icon {
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  align-items: center;
  justify-content: center; }
  .nav__icon:hover {
    text-decoration: none;
    color: rgba(162, 162, 162, 0.8); }
  .nav__icon i {
    font-size: 1.4rem; }
  .nav__icon span {
    font-size: 1rem; }

.nav__switch {
  transform: scale(0.7); }
  .nav__switch--text {
    position: relative;
    bottom: 0.1em; }

.profile-icon {
  cursor: pointer; }

.menu-icon {
  display: none;
  cursor: pointer;
  margin-right: 1rem; }

@media screen and (max-width: 50em) {
  .navigation {
    display: grid;
    grid-template-columns: 2fr 0fr 0fr; }
  .menu-icon {
    display: block; }
  .nav-links-wrapper {
    position: relative;
    justify-self: end; }
  .nav-links {
    display: none;
    background-color: #e6d787;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    right: 0;
    z-index: 10; }
  .nav-links ul {
    text-align: center;
    padding: 2rem;
    display: grid;
    gap: 2rem; }
  .nav-links.mobile {
    display: block; }
  .nav-icons {
    justify-self: end; } }

@media (min-width: 50em) and (max-width: 70em) {
  .nav__link--other {
    display: none; } }

.hero-section {
  margin: -2rem;
  margin-bottom: 6rem;
  position: relative; }
  .hero-section .img {
    background-image: url("./../images/header.png");
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative; }
    .hero-section .img::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      filter: grayscale(1); }

.heading--box {
  overflow: hidden;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #d0c5c545; }
  .heading--box h1 {
    color: #e6d787;
    text-transform: uppercase;
    text-shadow: #21015a 0 0 5px; }
  .heading--box .heading--main {
    font-size: 4.5rem;
    animation: fromLeft 1s ease-out; }
  .heading--box .heading--sub {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    margin-bottom: 4rem;
    animation: fromRight 1s ease-out; }

.btn-hero {
  display: inline-block;
  padding: 0.5em;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
  width: 16rem; }
  .btn-hero:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.4); }
  .btn-hero::after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .btn-hero:hover::after {
    content: "";
    border-radius: 10rem;
    background-color: #304c5a;
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }
  .btn-hero:active {
    transform: translateY(-0.1rem); }
  .btn-hero--rent {
    background-color: #e6d787;
    color: #304c5a;
    border: solid 2px #eeeeee;
    margin-right: 4rem; }
  .btn-hero--contact {
    background-color: #304c5a;
    color: #eeeeee;
    border: solid 2px #304c5a; }
  .btn-hero--animated {
    animation: fromBottom 0.7s 0.4s;
    animation-fill-mode: backwards; }

@media screen and (max-width: 830px) {
  .heading--box .heading--sub {
    margin-bottom: 3rem;
    font-size: 2rem; }
  .heading--box .heading--main {
    font-size: 4rem; }
  a.btn-hero {
    width: 12rem;
    font-size: 1.4rem; }
    a.btn-hero--rent {
      margin-right: 2rem; } }

@media screen and (max-width: 670px) {
  .hero-section .img {
    height: 40vh; }
  .heading--box {
    position: static;
    background-color: #d0c5c545; }
    .heading--box .heading--main,
    .heading--box .heading--sub {
      color: #304c5a;
      text-shadow: none; }
    .heading--box .heading--main {
      font-size: 2.5rem; }
    .heading--box .heading--sub {
      margin-bottom: 1rem;
      font-size: 1.5rem; }
  a.btn-hero--rent {
    margin-right: 1rem; } }

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem; }

.instrument-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
  padding-bottom: 3rem; }
  .instrument-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    /* Adjust hover shadow values as needed */ }
  .instrument-card .instrument-photo {
    margin-top: 2rem;
    width: 21rem;
    height: 21rem;
    background-size: cover;
    margin-bottom: 1.5rem; }
  .instrument-card__action {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    background-color: inherit;
    position: absolute;
    right: 1rem;
    cursor: pointer; }
  .instrument-card p {
    margin-bottom: 1rem; }

img.add-to-favorites {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.5rem; }

.add-to-cart {
  bottom: 1rem;
  color: #304c5a;
  border-radius: 50%;
  border: solid 3.5px #304c5a; }

.delete-from-cart {
  font-size: 1.6rem; }

@media screen and (max-width: 1065px) {
  #products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 20px; }
  .instrument-card .instrument-photo {
    height: 15rem;
    width: 15rem; } }

.grid {
  padding: 1rem;
  display: grid;
  row-gap: 1rem;
  margin: auto;
  background-color: #d0c5c545;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
  .grid .btn {
    margin-left: 1rem;
    width: 6rem; }

.btn--delete {
  width: 2rem;
  background-color: transparent;
  margin-left: auto; }
  .btn--delete:hover {
    background-color: red; }

/* rented instruments table */
.rentals-grid {
  grid-template-columns: 1.5fr repeat(4, 1fr) 0.5fr; }

.table-warning {
  background-color: #e350508f; }

.customer-link {
  color: #000000;
  font-weight: 700; }
  .customer-link:hover {
    color: #4446e0; }

/* cart table */
.display-items {
  max-width: 70rem;
  margin: auto; }

.cart-grid {
  grid-template-columns: 4fr 2fr 0fr 0fr; }

.btn--rent {
  margin-right: 5px; }

/* favorites table */
.favorites-grid {
  grid-template-columns: 4fr 2fr 1fr; }

.panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding: 1em 0; }

.search {
  width: 45%; }

.filter__dropdown-content {
  width: 13rem;
  left: 0; }

.filter-panel {
  padding: 0 1rem;
  border-radius: 4px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 3rem;
  background-color: #f8f9fa;
  /* Light background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
  .filter-panel p {
    font-weight: 700; }

form {
  overflow: visible;
  max-width: 50rem;
  margin: auto; }

.form-group {
  margin-bottom: 1rem; }
  .form-group label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #000000;
    font-weight: 500; }

.form-control {
  width: 100%;
  padding: 0.375rem 0.75rem;
  color: #304c5a;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  .form-control:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

.alert {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 0.25rem; }

.btn.btn-form {
  margin-right: 1rem;
  padding: 0.375rem 0.75rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }
  .btn.btn-form:hover {
    background-color: #06bcb3; }
  .btn.btn-form:active {
    background-color: #059992; }
  .btn.btn-form:disabled {
    background-color: rgba(128, 128, 128, 0.866);
    pointer-events: none; }

form a {
  text-decoration: underline solid;
  color: #304c5a; }

.profile-section button {
  margin-top: 1rem; }

.profile-info {
  display: grid;
  justify-content: center; }

.slider {
  max-width: 100ch;
  text-align: center;
  padding-bottom: 4rem;
  text-wrap: balance; }
  .slider img {
    display: block;
    margin: auto;
    width: 30%; }
  .slider h3 {
    margin: 1rem 0; }

.primary-footer {
  padding-top: 1rem;
  background-color: #304c5a; }

.primary-footer-wrapper {
  max-width: 100rem;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 15rem; }
  .primary-footer-wrapper p {
    color: #a6a6a6; }
  .primary-footer-wrapper a,
  .primary-footer-wrapper i {
    color: lightgray; }
  .primary-footer-wrapper i:hover,
  .primary-footer-wrapper a:hover {
    color: white; }

.primary-footer-logo-social ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem; }

.footer-nav {
  columns: 2;
  gap: 13rem; }
  .footer-nav li {
    padding-bottom: 1.6rem; }
    .footer-nav li:last-child {
      padding-bottom: 0rem; }

@media screen and (max-width: 50em) {
  .footer-nav {
    columns: 1; }
    .footer-nav li {
      padding-bottom: 1rem; }
      .footer-nav li:last-child {
        padding-bottom: 1rem; }
  .primary-footer-logo-social ul {
    gap: 1rem; } }

#about-section h2 {
  text-align: left; }

#about-section p {
  max-width: 45ch; }

.numbered-items {
  counter-reset: count; }

.numbered-items li {
  counter-increment: count;
  display: grid;
  position: relative;
  align-items: center;
  column-gap: 1rem;
  grid-template-columns: min-content 1fr;
  margin-top: 3rem; }
  .numbered-items li:first-child {
    margin-top: 1rem; }
  .numbered-items li::before {
    content: "0" counter(count);
    color: #304c5a;
    font-weight: 700;
    background-color: #e6d787;
    padding: 0 1em;
    border-radius: 100vw; }
  .numbered-items li p {
    margin-top: 1rem; }

.numbered-items__body {
  grid-column: 2 / -1; }

@media (max-width: 50em) {
  .numbered-items__body {
    grid-column: 1 / -1; }
  div.even-columns {
    grid-auto-flow: row; } }

.instrument-info {
  max-width: 50em;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  gap: 2rem; }
  .instrument-info img {
    width: 30rem; }
  .instrument-info p {
    max-width: 30ch; }

@media (max-width: 60em) {
  .instrument-info {
    flex-direction: column; } }

/* reset css */
*,
*::after,
*::before {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  font: inherit; }

ul,
ol {
  list-style: none; }

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* common css */
body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-size: 1.2rem; }

section {
  margin-bottom: 6rem; }

h2 {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
  background-image: linear-gradient(90deg, #048280, #e6d787);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent; }

form h2 {
  margin-bottom: 0; }

h3 {
  font-size: 1.4rem;
  font-weight: 700; }

button {
  background-color: inherit;
  border: none;
  cursor: pointer; }

.container {
  max-width: 100rem;
  padding: 2rem;
  margin: auto; }

main {
  min-height: 90vh; }

.btn {
  letter-spacing: 0.1rem;
  background-color: #304c5a;
  color: #eeeeee;
  padding: 0 0.7rem;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
  cursor: pointer; }
  .btn:hover {
    background-color: #7e8b91; }

.fa-trash {
  color: #900000; }

/* Utility classes */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

.even-columns {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem; }

@media screen and (max-width: 30em) {
  html {
    font-size: 13px; }
  .nav__icon--switch {
    display: none; } }
