@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.dropdown {
  position: relative;
  display: inline-block; }
  .dropdown__checkbox {
    transform: scale(1.6);
    margin-right: 1rem; }
  .dropdown__options {
    display: inline; }

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 10px;
  z-index: 1; }

.dropdown-content a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  transition: background-color 0.3s; }

.dropdown-content a:hover {
  background-color: #f0f0f0; }

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 20px 0;
  padding: 0; }
  .pagination button {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer; }
    .pagination button:hover {
      background-color: #ddd; }
    .pagination button:disabled {
      opacity: 0.5;
      cursor: not-allowed; }
    .pagination button.active {
      background-color: #007bff;
      color: #fff;
      border-color: #007bff; }

.modal {
  overflow: auto;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s; }

.modal.active {
  opacity: 1;
  pointer-events: all; }

.modal__content {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  transform: scale(0.5);
  transition: 0.4s all;
  width: 50vw; }

.modal__content.active {
  transform: scale(1); }

nav {
  background-color: #5656d9;
  padding: 0.3rem; }

.navigation {
  max-width: 100rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }

a {
  text-decoration: none; }

.nav__links {
  display: flex;
  gap: 7rem;
  font-size: 1.5rem; }

.nav__link {
  color: #ffffff; }
  .nav__link:hover {
    color: rgba(179, 179, 179, 0.8);
    text-decoration: none; }
  .nav__link--brand {
    font-family: "Merienda", sans-serif;
    font-size: 1.7rem;
    color: #e27425; }
    .nav__link--brand:hover {
      color: #e27425; }

.nav__icons {
  display: flex;
  gap: 1.5rem;
  align-items: center; }

.nav__icon {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  align-items: center;
  justify-content: center; }
  .nav__icon:hover {
    text-decoration: none;
    color: rgba(179, 179, 179, 0.8); }
  .nav__icon i {
    font-size: 1.5rem; }

.nav__switch {
  transform: scale(0.7);
  margin-bottom: -0.3rem; }

.profile-icon {
  cursor: pointer; }

.menu-icon {
  display: none;
  font-size: 1.5em;
  color: white; }

@media screen and (max-width: 1300px) {
  .nav__links {
    gap: 3rem; } }

@media screen and (max-width: 1050px) {
  .nav__link--other {
    display: none; } }

@media screen and (max-width: 800px) {
  .nav__links {
    display: none; }
  .nav__links.mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0; }
  .menu-icon {
    display: block;
    cursor: pointer; } }

.hero {
  margin: -2rem;
  margin-bottom: 4rem;
  position: relative;
  background-image: url("./../images/header.png");
  text-align: center;
  height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    filter: grayscale(1); }
  .hero h1 {
    filter: grayscale(0);
    color: #e2a025;
    text-transform: uppercase;
    text-shadow: #21015a 0 0 5px; }

.heading--box {
  margin-bottom: 3rem; }

.heading--main {
  font-size: 4.5rem;
  animation: fromLeft 1s ease-out;
  color: #5656d9; }

.heading--sub {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
  animation: fromRight 1s ease-out; }

.btn-hero {
  display: inline-block;
  padding: 1rem;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
  width: 16rem; }
  .btn-hero:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.4); }
  .btn-hero::after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .btn-hero:hover::after {
    content: "";
    border-radius: 10rem;
    background-color: #5656d9;
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }
  .btn-hero:active {
    transform: translateY(-0.1rem); }
  .btn-hero--rent {
    background-color: #464646d5;
    color: #e2a025;
    border: solid 2px white;
    margin-right: 4rem; }
  .btn-hero--contact {
    background-color: #5656d9;
    color: #ffffff;
    border: solid 2px #5656d9; }
  .btn-hero--animated {
    margin-top: 2rem;
    animation: fromBottom 0.7s 0.4s;
    animation-fill-mode: backwards; }

#products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 20px; }

.instrument-card {
  position: relative;
  border: 1px solid #000000;
  padding: 15px;
  text-align: center;
  border-radius: 5%;
  padding-bottom: 3rem; }
  .instrument-card img {
    max-width: 50%;
    margin-bottom: 1rem; }
  .instrument-card__action {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    border: none;
    background-color: inherit;
    position: absolute;
    right: 2rem;
    cursor: pointer; }
  .instrument-card p {
    margin-bottom: 1rem; }

img.add-to-favorites {
  position: absolute;
  right: 2rem;
  width: 2.5rem; }

.add-to-cart {
  background-color: #464646d5;
  border-radius: 50%;
  border: solid 3.5px; }

.delete-from-cart {
  font-size: 1.6rem; }

.grid {
  padding: 1rem;
  display: grid;
  row-gap: 1rem;
  margin: auto;
  background-color: #d0c5c545;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
  .grid .btn {
    margin-left: 1rem;
    width: 6rem; }

.btn--delete {
  width: 2rem;
  border: none;
  margin-left: auto; }
  .btn--delete:hover {
    background-color: red; }

/* rented instruments table */
.rentals-grid {
  grid-template-columns: 1.5fr repeat(4, 1fr) 0.5fr; }

.table-warning {
  background-color: #e350508f; }

.customer-link {
  color: #000000;
  font-weight: 700; }
  .customer-link:hover {
    color: #4446e0; }

/* cart table */
.display-items {
  max-width: 70rem;
  margin: auto; }

.cart-grid {
  grid-template-columns: 4fr 2fr 1fr; }

.cart-buttons {
  margin-left: auto; }

/* favorites table */
.favorites-grid {
  grid-template-columns: 4fr 2fr 1fr; }

.panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding: 1rem 0; }
  .panel h3 {
    font-weight: 400; }

.search {
  width: 45%; }

.filter__dropdown-content {
  left: 0;
  color: #000000; }

.filter-panel {
  padding: 0 1rem;
  border-radius: 4px;
  color: #ffffff;
  background-color: #464646d5;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 3rem; }

form {
  overflow: visible; }

.form-group {
  margin-bottom: 1rem; }
  .form-group label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #000000;
    font-weight: 500; }

.form-control {
  width: 100%;
  padding: 0.375rem 0.75rem;
  color: #464646d5;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  .form-control:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

.alert {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 0.25rem; }

.btn.btn-form {
  margin-right: 1rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid #007bff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }
  .btn.btn-form:hover {
    background-color: #007bff; }
  .btn.btn-form:active {
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3; }
  .btn.btn-form:disabled {
    background-color: rgba(128, 128, 128, 0.866);
    pointer-events: none;
    border: none; }

form a {
  text-decoration: underline solid;
  color: #5656d9; }

/* reset css */
*,
*::after,
*::before {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  font: inherit;
  /* remove the style of heading elements */ }

ul,
ol {
  list-style: none; }

html:focus-within {
  scroll-behavior: smooth; }

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Be Vietnam Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem; }

h2 {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem; }

h3 {
  font-size: 1.5rem;
  font-weight: 700; }

.content {
  max-width: 100rem;
  padding: 2rem;
  margin: auto; }

.btn {
  letter-spacing: 0.1rem;
  background-color: #5656d9;
  color: #ffffff;
  padding: 0 0.7rem;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
  cursor: pointer; }
  .btn:hover {
    background-color: #7e8b91; }

.fa-trash {
  color: #900000; }
