@import "common/animation", "common/variables", "common/drop-down",
  "common/pagination", "common/modal";
@import "components-css/navbar", "components-css/hero",
  "components-css/display-instruments", "components-css/instruments-table",
  "components-css/filter-panel", "components-css/form", "components-css/profile",
  "components-css/slider", "components-css/footer", "components-css/about",
  "components-css/instrument-page";

/* reset css */
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 80%;
}
ul,
ol {
  list-style: none;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* common css */
body {
  font-family: $ff-body;
  font-weight: $fw-regular;
  font-size: $fs-body;
}

section {
  margin-bottom: $margin-bottom-section;
}

h2 {
  font-size: $fs-heading-section;
  font-weight: $fw-bold;
  text-align: center;
  margin-bottom: $margin-bottom-heading;
  background-image: linear-gradient(90deg, #048280, $clr-neutral-dark);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

form h2 {
  margin-bottom: 0;
}

h3 {
  font-size: $fs-h3;
  font-weight: $fw-bold;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.container {
  // max-width: $content-width;
  padding: $padding-body;
  margin: auto;
}

main {
  min-height: 90vh;
}

.btn {
  letter-spacing: 0.1rem;
  background-color: $clr-accent-dark;
  color: $clr-text-light;
  padding: 0 0.7rem;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: hsl(198, 8%, 53%);
  }
}

.fa-trash {
  color: #900000;
}

/* Utility classes */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.even-columns {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
}

@media screen and (max-width: 30em) {
  html {
    font-size: 13px;
  }

  .nav__icon--switch {
    display: none;
  }
}
