$clr-accent-brand: #06bcb3;

$clr-accent-light: #e6d787;
$clr-accent-dark: #304c5a;

$clr-text-light: #eeeeee;
$clr-text-dark: #000000;

$clr-neutral-light: #d0c5c545;
$clr-neutral-dark: #e6d787;

$ff-brand: "Merienda", cursive;
$ff-body: "Be Vietnam Pro", sans-serif;

$fw-regular: 400;
$fw-bold: 700;

$fs-300: 0.9rem;
$fs-400: 1rem;
$fs-500: 1.2rem;
$fs-600: 1.4rem;
$fs-700: 2.2rem;
$fs-800: 2.5rem;
$fs-900: 4.5rem;

$fs-footer: $fs-300;
$fs-body: $fs-500;
$fs-button: $fs-600;
$fs-nav: $fs-600;
$fs-h3: $fs-600;
$fs-heading-section: $fs-700;
$fs-heading-secondary: $fs-800;
$fs-heading-primary: $fs-900;

$padding-body: 2rem;
$margin-bottom-section: 6rem;
$margin-bottom-heading: 3rem;

$content-width: 100rem;
