$content-width: 100rem;

$dark-red: #832013;
$light-red: #e27425;

// $light-red: #ff2727;
$dark-grey: #6767c1;
$white: #ffffff;
$black: #000000;
$color_1: #e1e2ef;
$color_2: #e1e2ef;
$color_3: #e1e2ef;
$color_4: #e1e2ef;
$color_5: #e1e2ef;
